.navMenu {
    text-align: center;
    margin-top: 2%;
  }
  
  .navMenu a {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    width: 120px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navMenu a:hover {
    color: #ffffff;
  }
  
  .navMenu .dot {
    margin-left: calc(50% - 300px);
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    -webkit-transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
  
  .navMenu a:nth-child(1):hover ~ .dot {
    -webkit-transform: translateX(57px);
    transform: translateX(57px);
    opacity: 1;
  }
  
  .navMenu a:nth-child(2):hover ~ .dot {
    -webkit-transform: translateX(177px);
    transform: translateX(177px);
    opacity: 1;
  }
  
  .navMenu a:nth-child(3):hover ~ .dot {
    -webkit-transform: translateX(299px);
    transform: translateX(299px);
    opacity: 1;
  }
  
  .navMenu a:nth-child(4):hover ~ .dot {
    -webkit-transform: translateX(416px);
    transform: translateX(416px);
    opacity: 1;
  }
  
  .navMenu a:nth-child(5):hover ~ .dot {
    -webkit-transform: translateX(542px);
    transform: translateX(542px);
    opacity: 1;
  }