.stars {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}

.star {
    filter: saturate(0) brightness(0.3);
    padding-left: 0.25em;
}

.f {
    filter: saturate(0) brightness(1);
}