@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("./sections/main.css");
@import url("./sections/navigation.css");

.posts {
    text-align: center;
    margin-top: 5%;
}

button {
    margin-top: 1%;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 18px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    padding: 13px 35px;
    transition: all 200ms;
    width: 45%;
}

button:hover {
    background-color: rgba(240, 240, 240, 0.5);
}

button p.desc {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
}