@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("./sections/main.css");
@import url("./sections/navigation.css");

pre {
    text-align: center;
    margin-top: 5%;
    font-size: 15px;
    color: #ffffff;
    overflow-x: hidden;
}

pre a:link, pre a:visited {
    color: #ffffff;
}

div.links a:link, div.links a:visited {
    color: #ffffff;
    text-decoration: none;
}
